.flex-images {
  overflow: hidden;
  margin-right: -12px;
  margin-bottom: -10px;

  .item {
    position: relative;
    float: left;
    box-sizing: content-box;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
