.img-sort-item {
  border-radius: 1px;
  cursor: move;
  cursor: -webkit-grab;
  &:hover:not(.img-sort-item--dragging) {
    background-color: #F8F8F9 !important;
  }
  .content {
	  padding-top: 4px !important;
  }
}

.img-sort-item--dragging {
  margin: 0.5rem 0 !important;
  border-radius: 1px;
  background-color: #F8F8F9;
  box-shadow: 0 0 0 1px rgba(34,36,38,.22);
}

.img-sort-item__id {
  margin-right: 5px !important;
}
