.img-preview {
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  img {
  	width: 100%;
  	height: auto;
    border-radius: 0 !important;
  }

  .label {
    font-size: 0.4rem !important;
  }

  .img-border {
	  border: 2px solid #21ba45;
    position: absolute;
    height: 100%;
    width: 100%;
	  user-select: none;
  }

  &:not(.selected) {
    img {
      opacity: 0.5;
      filter: grayscale(50%);
    }
    .label {
      display: none;
    }
	  .img-border {
      border-color: #DEDEDE;
    }
  }
}
